@model List<alsatcomClient.Areas.Admin.Models.DealerListModel>
@{
    ViewData["Title"] = "Onay Bekleyen Satıcılar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        Onay Bekleyen Satıcılar
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Satıcı İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Onay Bekleyen Satıcılar</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="admin-datatable" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="12%">Satıcı Numarası #</th>
                                <th width="10%">Eklenme Tarihi</th>
                                <th width="16%">Satıcı Adı</th>
                                <th width="15%">Adres</th>
                                <th width="15%">Açıklama</th>
                                <th width="10%">İşlemler</th>
                                <th width="10%">Onay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dealer in Model)
                            {
                                <tr>
                                    <td>@dealer.Id</td>
                                    <td>@(((DateTime)dealer.CreatedDate).ToString("MMM dd, yyyy - hh:mm"))</td>
                                    <td>@dealer.Name</td>
                                    <td>@dealer.Adress</td>
                                    <td>@dealer.Description</td>                                                                    
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                                <h6 class="dropdown-header">İşlemler</h6>
                                                <a class="dropdown-item" href="#">Profili Gör</a>
                                                <a class="dropdown-item" href="#">Mesaj</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-icon-text">
                                            <i class="fa fa-check btn-icon-prepend"></i>
                                            Onayla
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

